src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="products-system-api-config" api="products-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="products-system-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="products-system-api-config" />
        <error-handler ref="GON_APIKIT_Error_Handler" />
    </flow>
    <flow name="products-system-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="products-system-api-config" />
        <error-handler ref="GON_APIKIT_Error_Handler" />
    </flow>
    <flow name="put:\products\(product_id):application\json:products-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="8990bbe7-ae49-4ae2-9cf6-fe651a135439" name="updateProduct" />
    </flow>
    <flow name="delete:\products\(product_id):products-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="6d359f2a-72f6-4453-b7af-eba8cb57ca4f" name="deleteProduct" />
    </flow>
    <flow name="get:\products:products-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="6af980f7-a871-431f-8077-ebf224d38fba" name="getProducts" />
    </flow>
    <flow name="get:\products\(product_id):products-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="693911c3-67d9-4235-9ac9-592779b16604" name="getProductById" />
    </flow>
    <flow name="post:\products:application\json:products-system-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a108dbae-0adf-4615-87b5-f8a078cf5712" name="createProduct" />
    </flow>
</mule>
